*

!.Rprofile
!.gitconfig
!.bashrc
!.bash_aliases
!.bash_profile
!.bash_functions
!.screenrc
!.nanorc
!.gitignore
!.vimrc
!.globalgitignore
!.condarc
!.radian_profile
!.lscolors
!.gterminal.preferences
!.bash_completion
