[user]
	email = alan.ocallaghan@outlook.com
	name = Alan O'Callaghan
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDRS+nUnJBJZ7wux4i69DI8s8zLGM0PRaHTFHtSSCdL8gq36CURml9UxWnhqmcatLO4vvnCi3rJd9emWDcBydirBYcIz7dq4AvFO5D0dcCvddWOwxZHpH/QoxjDHtiB20hDlGVKCJQ59gKo2+ok5iDNQTTjB9qUfNxRsHQD3XQicxAFi6Bry5mNoRTehhMz5wWRb383sx1ukcvalMmLNJVz6GvTvISrTp+mBg3U/FNageOtF6zmfE5Kwfskq/XzWPsdLvlQyWdncYPw87t1WDqGWH0QzqCruB+FETWoAe8FBnAY8aLjMf2l8ANXSHqmgCUYyqI+QN25zSpDmgVZvsRQoqVckhYpwfzB6xMtUR7Kc1TDHa7c+fk+e1Y2dwSKReFee3W2lAD+HRPMp+IZ6gU75CAtNc4eUTJxlCkOauKcQNP7OUdiO3HtJ66Sdr4eLEeOa0YqLuJ7Wz4X+4DNxcIfLDR+S0AUqKMsZ3Nvj6F/Ra2c7jRpJ9yb6hjdHZOq8sU= alan@pop-os
[push]
	default = simple
[remind]
	paths = /home/alan/Documents/github/**,/home/alan/Documents/github/documents/*,/home/alan/Documents/github/carpentries/*,/home/alan/Documents/github/R/*,/home/alan/.config/sublime-text-3/Packages/User/,/home/alan/,/home/alan/Documents/github/wallace/*,/home/alan/Documents/github/imaging/*
[core]
	excludesfile = /home/alan/.gitignore_global
[credential]
	helper = cache
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[init]
	defaultBranch = master
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[rerere]
	enabled = true
